---
title: "What S New In Kargo V1 3 Smarter Gitops With Conditional Steps Advanced Verification"
date: 
source: https://akuity.io/blog/what-s-new-in-kargo-v1-3-smarter-gitops-with-conditional-steps-advanced-verification/
---

# What S New In Kargo V1 3 Smarter Gitops With Conditional Steps Advanced Verification


